.form-add {
    margin-top: 50px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.row {
    margin-bottom: 20px;
}

/*start content recedentce*/
.content-finish {
    padding: 24px 24px 0px 24px;
}

    .content-finish nav {
        padding: 24px 0px 24px 540px;
    }

.content-finish-tittle {
    font-size: 20px;
    padding-top: 24px;
    text-align: center;
}

.list-card {
    padding-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    ;
    grid-template-columns: repeat(auto-fit, minmax(28rem,1ft));
    gap: 1rem;
}

.item {
    background-color: #fff;
    min-width: 380px;
    min-height: 240px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    margin-bottom: 40px;
}

    .item img {
        min-height: 210px;
        min-width: 210px;
    }

.item-main {
    display: flex;
}

.item-content div {
    padding: 2px 0px 0px 5px;
    display: flex;
    column-gap: 12px;
}

    .item-content div small {
        color: grey;
    }

.item-function {
    padding: 8px 20px 8px 20px;
    justify-content: space-between;
    display: flex;
}
/*end content recedentce*/